.history/
*.pyc
.docker/zsh/history/.zsh_history
__pypackages__
.pytest_cache
.coverage
__coverage
db.sqlite3

envs/.env
envs/.env.test
envs/.env.e2e

docker-compose.override.yaml

.docker/dbdata

db.sqlite